

  div {
      overflow:hidden;
  }

    ul {
      list-style-type: none;
      margin-left: 170px;
      padding: 0;
      overflow: hidden;
      background-color: #21252b;
    }

    /* float: left; för att för
att få blockelement att glida bredvid varandra */
li a:active {
    color: blue;
}

    li {
      float: left;
    }

    li a {
      display: block;
      padding: 8px;
      color: #C0C0C0;
    }

    li a:hover {
      background-color: #555;
      color: #4670c6;
      font-size: 110%;
    }

    h1 {
      color: #C0C0C0;



    }

    h1 a:hover {
      background-color: #555;
      color: #4670c6;
      font-size: 110%;


    }

    h1 a {
      background-color: #21252b;
      color: #C0C0C0;

    }

    p {

      color: #C0C0C0;

    }




    header {
      background-color: #21252b;
      margin-left: 170px;
    }

    article {
        margin-left: 170px;
        border-left: 1px solid #21252b;
        padding: 1em;
}




footer {
  padding: 1em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #21252b;
    color: #555;
    text-align: center;
}

article {
  margin-left: 170px;
  border-left: 1px solid #21252b;
  padding: 1em;
}

img {
  margin-left: 170px;
  border-left: 1px solid #21252b;
}



h2 {
  color: #C0C0C0;



}
